<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CONTACT</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
<!-- header такой же как на странице products-->
                <div class="header-products">
            <div class="header-navbar-products clearfix
               ">
                <a href="#"><img class="logo-products" src="img/logo.svg" alt="logotyp"></a>
                <div class="block-menu-products">
                    <ul class="menu-products clearfix">
                        <li class="menu-list-products"><a href="index.html" class="menu-link-products ">HOME</a></li>
                        <li class="menu-list-products"><a href="products.html" class="menu-link-products">PRODUCTS</a></li>
                        <li class="menu-list-products"><a href="#" class="menu-link-products">HISTORY</a></li>
                        <li class="menu-list-products"><a href="showroom.html" class="menu-link-products">SHOWROOM</a></li>
                        <li class="menu-list-products"><a href="contact.html" class="menu-link-products">CONTACT</a></li>
                        <li class="menu-list-products menu-list-search-products">
                            <a href="#" class="menu-link-products menu-link-search-products"><img src="img/search.svg" alt="search"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="our">Contact Us</p>
        </div>
        <div class="location">
            <div class="location-1">
                <a href=""><img src="img/california.png" alt="location"></a>
                <h3>CALIFORNIA</h3>
                <div class="details">
                    <h5>Phone:</h5>
                    <p>1900 - 1234 -5678</p>
                    <h5>Email:</h5>
                    <p>info@interior.com</p>
                    <h5>Address:</h5>
                    <p class="address">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
            </div>
            <div class="location-2">
                <a href=""><img src="img/california.png" alt="location"></a>
                <h3>CALIFORNIA</h3>
                <div class="details">
                    <h5>Phone:</h5>
                    <p>1900 - 1234 -5678</p>
                    <h5>Email:</h5>
                    <p>info@interior.com</p>
                    <h5>Address:</h5>
                    <p class="address">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
            </div>
            <div class="location-3">
                <a href=""><img src="img/california.png" alt="location"></a>
                <h3>CALIFORNIA</h3>
                <div class="details">
                    <h5>Phone:</h5>
                    <p>1900 - 1234 -5678</p>
                    <h5>Email:</h5>
                    <p>info@interior.com</p>
                    <h5>Address:</h5>
                    <p class="address">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
            </div>
        </div>
                <div class="footer">
            <div class="footer-contact">
                <h2>Contact Us</h2>
                <p class="link-1">132A Bridge Road Richmond VIC Australia.</p>
                <p class="link-2">Talk to us on 1300 132 info@interior.com</p>
            </div>
            <div class="useful-information">
                <h2>Useful Information</h2>
                <div class="useful-1"> <a href="#">Sales terms</a> <a href="#">Customer care</a> <a href="#">Delivery</a> </div>
                <div class="useful-2"> <a href="#">Architect accounts</a> <a href="#">Careers</a> <a href="#">Exchanges & returns</a> </div>
            </div>
            <div class="footer-lets">
                <h2>Let’s Stay in Touch!</h2>
                <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                <form action="">
                    <input type="email" name="Email" placeholder="your email address"> </form>
            </div>
            <p class="copy"> © Copyright - INTERIOR 2016. All Rights Reserved. </p>
            <div class="social-links">
                <a href=""><img src="img/facebook.png" alt=""></a>
                <a href=""><img src="img/twitter.png" alt=""></a>
                <a href=""><img src="img/google.png" alt=""></a>
                <a href=""><img src="img/P.png" alt=""></a>
            </div>
            <a class="terms" href="#"> Terms & Conditions / Privacy policy & Cookies </a>
        </div>
    </div>
</body>
</html>