<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PRODUCTS</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css"> </head>

<body>
    <div class="container">
        <div class="header-products">
            <div class="header-navbar-products clearfix
               ">
                <a href="#"><img class="logo-products" src="img/logo.svg" alt="logotyp"></a>
                <div class="block-menu-products">
                    <ul class="menu-products clearfix">
                        <li class="menu-list-products"><a href="index.html" class="menu-link-products ">HOME</a></li>
                        <li class="menu-list-products"><a href="products.html" class="menu-link-products">PRODUCTS</a></li>
                        <li class="menu-list-products"><a href="#" class="menu-link-products">HISTORY</a></li>
                        <li class="menu-list-products"><a href="showroom.html" class="menu-link-products">SHOWROOM</a></li>
                        <li class="menu-list-products"><a href="contact.html" class="menu-link-products">CONTACT</a></li>
                        <li class="menu-list-products menu-list-search-products">
                            <a href="#" class="menu-link-products menu-link-search-products"><img src="img/search.svg" alt="search"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="our">Our Products Range</p>
        </div>
        <div class="tab-controll-products">
            <ul class="clearfix">
                <li><a href="#" class="all">All</a></li>
                <li><a href="#">HOME</a></li>
                <li><a href="#">OFFICE</a></li>
                <li><a href="#">FURNITURE</a></li>
                <li><a href="#">MODERN</a></li>
                <li><a href="#">CLASSIC</a></li>
            </ul>
        </div>
        <div class="products clearfix">
            <a href="#"><img src="img/product-1.jpg" alt="chandelier"></a>
            <a href="#"><img src="img/product-2.jpg" alt="chair"></a>
            <a href="#" class="three-n"><img src="img/product-3.jpg" alt="table lamp"></a>
            <a href="#"><img src="img/product-4.jpg" alt="wall lamp"></a>
            <a href="#"><img src="img/product-5.jpg" alt="deep bowl"></a>
            <a href="#" class="three-n"><img src="img/product-6.jpg" alt="vase"></a>
            <a href="#"><img src="img/product-1.jpg" alt="chandelier"></a>
            <a href="#"><img src="img/product-2.jpg" alt="chair"></a>
            <a href="#" class="three-n"><img src="img/product-3.jpg" alt="table lamp"></a>
            <a href="#" class="bottom"><img src="img/product-4.jpg" alt="wall lamp"></a>
            <a href="#" class="bottom"><img src="img/product-5.jpg" alt="deep bowl"></a>
            <a href="#" class="three-n bottom clearfix"><img src="img/product-6.jpg" alt="vase"></a>
            <a href="#" class="update"><img src="img/update.png" alt="update"></a>
        </div>
<!--Третий раздел_promo-product_совпадает с главной страницей-->
        <div class="promo-product">
            <div class="promo-content-1">
                <div class="promo-content-internal">
                    <p class="promo-tag">exclusive</p>
                    <h2 class="promo-name">Fishnet Chair</h2>
                    <p class="promo-details">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt.</p> <a href="#" class="button">Order Us</a>
                    <!--<a href="#" class="promo-btn"><img src="img/btn-hover.png" alt=""></a>--></div>
            </div>
            <div class="promo-content-2">
                <div class="promo-content-internal">
                    <p class="promo-tag">exclusive</p>
                    <h2 class="promo-name">Fishnet Chair</h2>
                    <p class="promo-details">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt.</p> <a href="#" class="button">Order Us</a>
                    <!--<a href="#" class="promo-btn"><img src="img/btn-hover.png" alt=""></a>--></div>
            </div>
        </div>
<!--Четвертый раздел_promo-product_совпадает с главной страницей-->
        <div class="footer">
            <div class="footer-contact">
                <h2>Contact Us</h2>
                <p class="link-1">132A Bridge Road Richmond VIC Australia.</p>
                <p class="link-2">Talk to us on 1300 132 info@interior.com</p>
            </div>
            <div class="useful-information">
                <h2>Useful Information</h2>
                <div class="useful-1"> <a href="#">Sales terms</a> <a href="#">Customer care</a> <a href="#">Delivery</a> </div>
                <div class="useful-2"> <a href="#">Architect accounts</a> <a href="#">Careers</a> <a href="#">Exchanges & returns</a> </div>
            </div>
            <div class="footer-lets">
                <h2>Let’s Stay in Touch!</h2>
                <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                <form action="">
                    <input type="email" name="Email" placeholder="your email address"> </form>
            </div>
            <p class="copy"> © Copyright - INTERIOR 2016. All Rights Reserved. </p>
            <div class="social-links">
                <a href=""><img src="img/facebook.png" alt=""></a>
                <a href=""><img src="img/twitter.png" alt=""></a>
                <a href=""><img src="img/google.png" alt=""></a>
                <a href=""><img src="img/P.png" alt=""></a>
            </div>
            <a class="terms" href="#"> Terms & Conditions / Privacy policy & Cookies </a>
        </div>
    </div>
</body>

</html>